<!DOCTYPE HTML> <!--- EJS FILE --->
<HTML>
<HEAD>
	<title>Calendar</title>
	<link href="styles.css" type="text/css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
	<link href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel = "stylesheet" />
	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="icon/favicon.ico">
	<link rel="icon" size="16x16 32x32 64x64" href="icon/favicon.ico">
	<link rel="icon" type="image/png" size="196x196" href="icon/favicon-192.png">
	<link rel="icon" type="image/png" size="160x160" href="icon/favicon-160.png">
	<link rel="icon" type="image/png" size="96x96" href="icon/favicon-96.png">
	<link rel="icon" type="image/png" size="64x64" href="icon/favicon-64.png">
	<link rel="icon" type="image/png" size="32x32" href="icon/favicon-32.png">
	<link rel="icon" type="image/png" size="16x16" href="icon/favicon-16.png">
	<link rel="apple-touch-icon" href="icon/favicon-57.png">
	<link rel="apple-touch-icon" size="114x114" href="icon/favicon-114.png">
	<link rel="apple-touch-icon" size="72x72" href="icon/favicon-72.png">
	<link rel="apple-touch-icon" size="144x144" href="icon/favicon-144.png">
	<link rel="apple-touch-icon" size="60x60" href="icon/favicon-60.png">
	<link rel="apple-touch-icon" size="120x120" href="icon/favicon-120.png">
	<link rel="apple-touch-icon" size="76x76" href="icon/favicon-76.png">
	<link rel="apple-touch-icon" size="152x152" href="icon/favicon-152.png">
	<link rel="apple-touch-icon" size="180x180" href="icon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="icon/favicon-144.png">
	<meta name="msapplication-config" content="icon/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->
</HEAD>

<BODY>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type = "text/javascript"></script>
<script src="main.js" type = "text/javascript"></script>
<%
const calendar = {
		shortMonths : ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
		months : ["January","Febuary","March","April","May","June","July","August","September","October","November","December"],
		days : ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],
		shortdays : ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],
		numberedDays: ["one","two","three","four","five","six","seven","eight","nine","ten","eleven","tweleve","thirteen","fourteen","fifteen","sixteen","seventeen","eighteen","nineteen","twenty","twentyOne","twentyTwo","twentyThree","twentyFour","twentyFive","twentySix","twentySeven","twentyEight","twentyNine","thirty"]
	};
const calendarDates = {
		previousDates : (current) => {
			if (current === undefined) {
				throw new Error("No argument was passed in calendarDates.previousDates");
			}
		  current.month = /[^^]\w{3}/.exec(current)[0].trim();
		  current.year = /\d{4}/.exec(current)[0].trim();
		  var monthparm = 35;
		  var iterator = -1;
		  function getLast () {
			var date = new Date(current.year, calendar.shortMonths.indexOf(current.month)-1, monthparm + iterator);
			if (current.month == /[^^]\w{3}/.exec(date)[0].trim()) {
			  iterator--;
			  if (iterator <=-20) {
				throw new Error("Could not find last days of previous month");
			  }
			  return getLast();
			}
			else {
			  return date;
			}
		  }
		  var previous = getLast();
		  var obj = {
			full : previous,
			month : /[^^]\w{3}/.exec(previous)[0].trim(),
			year : /\d{4}/.exec(previous)[0].trim(),
			day : /^\w{3}/.exec(previous)[0].trim(),
			num : /\d{2}/.exec(previous)[0].trim()
		  };
		  
		  return obj;
		},
		currentDates : (current) => {
			if (current === undefined) {
				throw new Error("No argument was passed in calendarDates.currentDates");
			}
				current.month = /[^^]\w{3}/.exec(current)[0].trim();
		  current.year = /\d{4}/.exec(current)[0].trim();
		  var monthparm = 25;
		  var iterator = 1;
		  function getCurrent () {
			var date = new Date(current.year, calendar.shortMonths.indexOf(current.month), monthparm + iterator);
			if (current.month == /[^^]\w{3}/.exec(date)[0].trim() ) {
			  iterator++;
			  if (iterator >=20) {
				throw new Error("Could not find last day of current month");
			  }else {
			    return getCurrent();
			  }
			  
			}
			else {
			  var l =new Date(current.year, calendar.shortMonths.indexOf(current.month), monthparm + iterator-1);
			  return l;
			}
		  }//getlast funciton
		  var current1 = getCurrent();
		  var obj = {
			full : current1,
			month : /[^^]\w{3}/.exec(current1)[0].trim(),
			year : /\d{4}/.exec(current1)[0].trim(),
			day : /^\w{3}/.exec(current1)[0].trim(),
			num : /\d{2}/.exec(current1)[0].trim()
		  };
		  
		  return obj;
		},
		futureDates : (current) => {
			if (current === undefined) {
				throw new Error("No argument was passed in calendarDates.futureDates");
			}
					current.month = /[^^]\w{3}/.exec(current)[0].trim();
		  current.year = /\d{4}/.exec(current)[0].trim();
		  var monthparm = 25;
		  var iterator = 1;
		  function getFuture () {
			var date = new Date(current.year, calendar.shortMonths.indexOf(current.month), monthparm + iterator);
			if (current.month == /[^^]\w{3}/.exec(date)[0].trim() ) {
			  iterator++;
			  if (iterator >=20) {
				throw new Error("Could not find last day of current month");
			  }else {
			    return getFuture();
			  }
			  
			}
			else {
			  var l =new Date(current.year, calendar.shortMonths.indexOf(current.month), monthparm + iterator);
			  return l;
			}
		  }//getlast funciton
		  var future = getFuture();
		  var obj = {
			full : future,
			month : /[^^]\w{3}/.exec(future)[0].trim(),
			year : /\d{4}/.exec(future)[0].trim(),
			day : /^\w{3}/.exec(future)[0].trim(),
			num : /\d{2}/.exec(future)[0].trim()
		  };
		  
		  return obj;
		}
}

const extraDays = {
	previous: (date) => {
		var day = /^\w+/.exec(date)[0];
		if (day == "Sun") {
		  return 0;
		}
		else {
		  return {
		    amtOfTimes : +calendar.shortdays.indexOf(day),
		    dayNumber : +/\d{2}/.exec(date)[0]
		    };
		}
	},
	future : (date) => {
	var day = /^\w+/.exec(date)[0];
	  if (day == "Mon" ) {
	    return 0;
	  }
	  else {
	    return {
	      amtOfTimes : +calendar.shortdays.length - calendar.shortdays.indexOf(day) ,
	      dayNumber : +(/\d{2}/.exec(date)[0]).replace("0","")
	    };
	  }
	}
};
%>
<%
var date = new Date(),
aod = +calendarDates.currentDates(date).num,
numberedDays = ["zero","one","two","three","four","five","six","seven","eight","nine","ten","eleven","tweleve","thirteen","fourteen","fifteen","sixteen","seventeen","eighteen","nineteen","twenty","twentyOne","twentyTwo","twentyThree","twentyFour","twentyFive","twentySix","twentySeven","twentyEight","twentyNine","thirty"];
%>
<div class = "calendar">
	<div class = "title">
		<h1 class = "text-center"> <%= calendar.months[calendar.shortMonths.indexOf(calendarDates.currentDates(date).month)] %></h1>
		<i class="fa fa-arrow-back fa-3x"  id = "back" aria-hidden="true"></i>
		<i class="fa fa-arrow-right fa-3x" id = "forward" aria-hidden="true"></i>
	</div><!--- Title-->
	<div class = "days">
	<%
	try { // creates Monday ----> Friday
		for (var x = 0;x<=6;x++) {
			%> <div class = "specific_day"><h3 class = "text-center"> <%= calendar.days[x] %> </h3></div><%
		}
	}catch(error) {
		console.log("Error in Mon --> Fr");
		throw error;
	}
	%>
	<%
	try {// creates the previous month's days.
		let ext = Number(extraDays.previous(calendarDates.previousDates(date).full).amtOfTimes);
		for (var x = -ext; x<=0 ; x++) {
			if (x >= 10) {
				throw new Error("Called too many times at extraDays.previous for loop")
			}
			%><div class = "day"><h5> <%=x + (+extraDays.previous(calendarDates.previousDates(date).full).dayNumber) %> </h5></div> <%
		}
	}catch (error) {
		console.log("Error in previous month days");
		throw error;
	}
	%>
	
	<%
	try {// creates the current month's days.
		for (var x = 1;x<= aod; x++) {var hello = data;
		%> <div class = "day" data-day = "<%=x%>"><h5><%= x %></h5><!--- finding the descriptions the user put for that day in the database.-->
		<% for (var y in data) {
			if (numberedDays[x] == y) {%>
				<p class = "desc"><%= data[y] %></p> <%
			}
		} %>
		</div> <%
		}
	}catch(error) {
		console.log("Error in current month days");
		throw error;
	}
	%>
	
	<%
	try {// creates the future days.
		ext = Number(extraDays.future(calendarDates.futureDates(date).full).amtOfTimes);
		for (var x = 1;x<=ext;x++) {
		%> <div class = "day"><h5><%= x %> </h5></div> <%
		}
	}catch (error) {
		console.log("Error in future days");
		throw error;
	}
	%>
	
	</div><!--- end of days --->
	
</div><!-- calendar-->
</BODY>

</HTML>